<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzy.imapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/passhttp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.auth.SigninActivity"></activity>
        <activity android:name=".module.home.HomeActivity" />
        <activity android:name=".module.auth.LoginActivity" />
        <activity
            android:name=".module.main.SplashActivity"
            android:theme="@style/AppTheme_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentListActivity" />
    </application>

</manifest>